#content h2 {
	text-align: center;
}

#content textarea, #content input {
	width: 50rem;
    box-sizing: border-box;
}

#content textarea {
	height: 10rem;
}

#content button {
	width: 100%;
	background-color: var(--accent);
	color: White;
	border-style: none;
	font-size: 1.5rem;
	cursor: pointer;
}

#content button:hover {
	background-color: var(--darkbg);
	color: Black;
}



#msg {
	background-color: var(--softbg);
	color: Black;
	font-style: italic;
	padding: 0.2rem;	
}
