/* use thyme leaf to import the header and footer instead */
:root {
	--darkbg: #678D58; /* russian green */
	--softbg: #A6C48A; /* olivine */
	--darktext: #071E22; /* dark jungle green */
	/* too close to white to matter --softtext: #FCF7FF; /* magnolia */
	--accent: #D5896F; /* copper crayola */
}

body {
	font-family: sans-serif;
}

header, footer {
	background-color: var(--darkbg);
	color: White;
	position: fixed;
	width: 100%;
	left: 0;
}

header {
	top: 0;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 1rem;
}

a:hover, header input[type=submit]:hover {
	color: Black;
}

header nav ul li {
	display: inline-flex;
}

#site-name {
	font-family: 'Sulphur Point', sans-serif;
	padding-left: 1rem;
	margin-right: auto;
	font-size: 3rem;
}

#site-name a:hover {
	color: White;
}

header form, header a {
	padding-right: 1rem;
	margin-left: 0;
	padding-left: 0;
} 

header input[type=submit], header button {
	
	background-color: Transparent;
	border-style: none;
	font-size: 1rem;
	color: White;
	cursor: pointer;
}

a, header input[type=submit] {
	color: White;
	text-decoration: none;
}

li {
	list-style-type: none;
}

#content { 
	margin-top: 4rem;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: White; /* readability */
	color: Black;
	height: 100%;
	display: flex;
	justify-content: center;
}

footer {
	bottom: 0;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
}