#trending-recipes ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#trending-recipes li {
	width: 15rem;
	padding: 0.5rem;
}

#trending-recipes li:hover {
	background-color: WhiteSmoke;
}

.recipe-body {
	display: flex;
	flex-direction: row;
}

#trending-recipes a {
	color: Black;
}

#content h3 {
	margin: 0;
}

#content li {
	margin-top: 1rem;
}
.recipe-image {
	width: 5rem;
	height: 5rem;
	margin-right: 1rem;
	vertical-align: top;
}

#content { 
	margin-top: 4rem;
	margin-bottom: 2rem;
	background-color: White; /* readability */
	color: Black;
	height: 100%;
}

#add-recipe {
	border-radius: 50%;
	background-color: var(--accent);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	color: White;
	font-size: 3rem;
	text-align: center;
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	box-shadow: 0.2rem 0.2rem 0.2rem Black;
}

#add-recipe:hover {
	background-color: var(--darkbg);
}