.save, .cancel, textarea, select {
	display: none;
}

#profile input {
	display: none;
}

#profile h2 {
	text-align: center;
}

#content .msg {
	color: Red;
	font-style: italic;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}

.delete button:hover {
	background-color: var(--darkbg);
	color: Black;
}

.delete {
	text-align: center;
	padding: 1rem;
	width: 100%;
	background-color: var(--accent);
	border-style: none;
	color: White;
	font-size: 1.5rem;
	cursor: pointer;
}

#avatar {
	text-align: center;
	margin-bottom: 1rem;
}


#avatar-button {
	width: 15rem;
	height: 15rem;
	color: Transparent;
	font-size: 10rem;
	background-size: 15rem 15rem;
}

#avatar-button:hover {
	color: Black;
	cursor: pointer;
}