#trending-recipes ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#trending-recipes li {
	width: 15rem;
	padding: 0.5rem;
}

#trending-recipes li:hover {
	background-color: WhiteSmoke;
}

.recipe-body {
	display: flex;
	flex-direction: row;
}

#content {
	width: 98%;
	display: block;
}

#trending-recipes h2 {
	background-color: White;
    top: 4rem;
	position: sticky;
	margin: 0;
}

#trending-recieps {
	display: block;
	width: 100%;
}

#trending-recipes a {
	color: Black;
}

#content h3 {
	margin: 0;
}

#content li {
	margin-top: 1rem;
}
.recipe-emoji {
	width: 5rem;
	height: 5rem;
	font-size: 5rem;
	margin-right: 1rem;
	vertical-align: top;
}

#content { 
	margin-top: 4rem;
	margin-bottom: 2rem;
	background-color: White; /* readability */
	color: Black;
	height: 100%;
}

#add-recipe {
	border-radius: 50%;
	background-color: var(--accent);
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	color: White;
	font-size: 3rem;
	text-align: center;
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	box-shadow: 0.2rem 0.2rem 0.2rem Black;
}

#add-recipe:hover {
	background-color: var(--darkbg);
}

#page {
	width: 100%;
	text-align: center;
}

#content button {
	background-color: var(--accent);
	color: White;
	border-style: none;
	font-size: 1.5rem;
	cursor: pointer;
	width: 3rem;
	height: 3rem;
	border-radius: 3rem;
	margin: 0.5rem;
}

#content button:hover {
	background-color: var(--darkbg);
	color: Black;
}

#content #tag-search button {
	width: fit-content;
}

#tag-search {
	text-align: center;
}

#tag-search input, #tag-search label {
	font-size: 1.5rem;
}


#msg {
	opacity: 0.7;
	background-color: var(--softbg);
	color: Black;
	font-style: italic;
	width: fit-content;
	margin: auto;
	padding: 0.2rem;
	padding-bottom: 0.1rem;
}