:root {
	--darkbg: #678D58; /* russian green */
	--softbg: #A6C48A; /* olivine */
	--darktext: #071E22; /* dark jungle green */
	/* too close to white to matter --softtext: #FCF7FF; /* magnolia */
	--accent: #D5896F; /* copper crayola */
}

body {
	font-family: sans-serif;
}

header, footer {
	background-color: var(--darkbg);
	color: White;
	position: fixed;
	width: 100%;
	left: 0;
}

header {
	top: 0;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

a:hover {
	color: Black;
}

header nav ul li {
	display: inline-flex;
}

.save, .cancel {
	display: none;
}

textarea {
	display: none;
}

#site-name {
	font-family: 'Sulphur Point', sans-serif;
	padding-left: 1rem;
	margin-right: auto;
	font-size: 3rem;
}

#site-name a:hover {
	color: White;
}

header form, header a {
	padding-right: 1rem;
}

header button {
	background-color: Transparent;
	border-style: none;
}

a {
	color: White;
	text-decoration: none;
}

li {
	list-style-type: none;
}

#content { 
	margin-top: 4rem;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: White; /* readability */
	color: Black;
	height: 100%;
	display: flex;
	justify-content: center;
}

#avatar-button {
	width: 15rem;
	height: 15rem;
	color: Transparent;
	font-size: 10rem;
	background-image: url("../img/avatar-placeholder.png");
}

#avatar-button:hover {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../img/avatar-placeholder.png");
	color: Black;
	cursor: pointer;
}

#profile input {
	display: none;
}

h2 {
	text-align: center;
}

footer {
	bottom: 0;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
}