<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general.html :: head">
</head>
<body>
	<header th:replace="fragments/general.html :: header"> </header>
	<!-- haha this form makes such an ugly email -->
	<div id="content">
		<div id="contact">
			<div id="msg" th:if="${param.sent != null}">Message Sent!</div>
			<h2>Contact Us</h2> <!-- not implementing it via spring email bc then I would need to be careful about not exposing my gmail password -->
			<form name="contact-form" action="#" th:action="@{/contact}" th:object=${cm} method="POST">
				
				<label th:for="${#ids.next('name')}">Name:</label><br>
				<input type="text" th:field="*{name}" th:value="${cm.getName()}" required><br>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>
				
				<label th:for="${#ids.next('email')}">Email:</label><br>
				<input type="email" th:field="*{email}" th:value="${cm.getEmail()}" required><br>
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
				
				<label th:for="${#ids.next('subject')}">Subject:</label><br>
				<input type="text" th:field="*{subject}"><br>
				<span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span><br>
				
				<label th:for="${#ids.next('message')}">Message:</label><br>
				<textarea th:field="*{message}" required></textarea><br>
				<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span><br>
				
				<button type="submit" style="font-weight:bold;">Submit</button>
			</form>
		</div>
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>