<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general.html :: head">
</head>
<body>
	<header th:replace="fragments/general.html :: header"> </header>
	
	<div id="content">
		<!-- actually code this via javascript and jpa... -->
		<div id="trending-recipes">
		<h2>Trending</h2>
		<ul th:if="${not #lists.isEmpty(recipeList)}">
			<li th:each="r : ${recipeList}">
				<h3 class="recipe-name"><a th:href="@{/recipe/{id}(id=${r.getId().toString()})}" th:text="${r.getTitle()}"></a></h3>
				<div class="recipe-body">
					<a th:href="@{/recipe/{id}(id=${r.getId().toString()})}"><span class="recipe-emoji" th:text="${r.getEmoji()}"></span></a>
					<div><a th:href="@{/recipe/{id}(id=${r.getId().toString()})}">
						<span class="recipe-user" th:utext="'<b>Created by:</b><br>' + ${r.getUser().getUsername()}"></span><br>
						<span class="recipe-tags" th:utext="'<b>Tags:</b><br>' + ${r.getFirstThreeTagString()}"></span>
					</a></div>
				</div>
			</li>
		</ul>
		</div>
		<div id="add-recipe"><a th:href="@{/recipe}">+</a></div>
	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>