<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general.html :: head">
</head>
<body>
	<header th:replace="fragments/general.html :: header"> </header>
	<div id="content">
		<div id="recipe">
			<h2>Just a few more details!</h2>
			<form action="#" th:action="@{/recipe}" th:object="${recipe}" method="post">
				<label th:for="${#ids.next('title')}">Recipe Title:</label><br>
				<input type="text" th:field="*{title}"><br>
				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
				<br><br>
				<!-- add tags
				<label th:for="${#ids.next('hash')}">Password:</label><br>
				<input type="password" th:field="*{hash}"><br>
				<span th:if="${#fields.hasErrors('hash')}" th:errors="*{hash}"></span>
				<br><br>
				 -->
				<label th:for="${#ids.next('state')}">Discoverable by other Users:</label><br>
				<select th:field="*{state}">
				  <option th:each="state : ${T(com.github.norwick.reciperodeo.domain.Recipe.Visibility).values()}" 
				          th:value="${state}" 
				          th:text="#{${'Recipe Visibility: ' + state}}">Wireframe</option>
				</select><br>
				<span th:if="${#fields.hasErrors('state')}" the:errors="*{state}"></span>
				<button type="submit" style="font-weight:bold;">Submit</button> 
			</form>
		</div>
	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>