<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/general.html :: head">
</head>
<body>
	<header th:replace="fragments/general.html :: header"> </header>
	<div id="content">
		<div id="recipe">
			<form th:if="${creator != null}" action="#" th:action="@{/recipe/{id}(id=${r.getId().toString()})}" method="post">
				<input type="text" th:field="*{id}" th:value="${r.getId()}" hidden>
				<button type="submit">✏️</button>
			</form>
			<h2 th:text="${emoji + title}"></h2>
			By <span th:text="${creator}"></span> <br>
			Created <span th:text="${createDate}"></span><br>
			Edited <span th:text="${editDate}"></span><br>
			Tags: <span th:text="${tags}"></span>
			<div id="generated">
				<div id="ingredients">
					<h2>Ingredients</h2>
				</div>
				<div id="instructions">
					<h2>Instructions</h2>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/recipe.js"></script>
	<script th:if="${recipeJson != null}">
		viewOnly("[[${recipeJson}]]");
	</script>
	<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>